<div class="jumbotron text-center">
    <h2>Welcome to the Admin home page</h2>
    <h3>Administration Functionality page </h3>
    <h4>Pick your choice</h4>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="/deleteFindReservation">
                    <img src="public/assets/images/delete_reservation.png"  style="width: 100%; height:400px;" >
                    <div class="caption">
                        <p>Delete a Reservation</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="/updateReservation">
                        <img src="public/assets/images/update_reservation.png" style="height:400px;">
                        <div class="caption">
                            <p>Update a Reservation</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="/deleteUser">
                    <img src="public/assets/images/delete_account.png" style="height:400px;">
                    <div class="caption">
                        <p>Delete a User </p>
                    </div>
                </a>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a href="/becomeAdmin">
                            <img src="public/assets/images/make_admin.png" style="height:400px;">
                            <div class="caption">
                                <p>Admin Requests</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
